.form-container {
    width: 21vw;
    margin: 0 auto;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px dashed #ccc;
    padding: 2rem;
  }
  
  